# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
env/
venv/
ENV/
*.env

# Node / React
node_modules/
.next/
dist/
build/

# macOS
.DS_Store

# Logs
*.log
*.out

# IDE
.vscode/
.idea/

# Rasa / cache
rasa/.rasa/cache/
models/